_headers_

public interface _P0__P1_BiConsumer_gH_ {
    void accept(_p0_ t, _p1_ u);

    default _P0__P1_BiConsumer_gH_ andThen(@NonNull _P0__P1_BiConsumer_gSuper_ after) {
        return (l, r) -> {
            this.accept(l, r);
            after.accept(l, r);
        };
    }
}