_headers_

public interface _P0_Iterator_gH_ {
    boolean hasNext();

    _p0_ next();

    default void remove() {
        throw new UnsupportedOperationException("remove");
    }

    default void forEachRemaining(@NonNull _P0_Consumer_gSuper_ action) {
        while (this.hasNext()){
            action.accept(this.next());
        }
    }
}