.gradle/
.idea/
*.iml
*.ipr
*.class
target/
build/
out/
/porklib.daporkchop.net/
run/

/src/

test_out/

/minecraft/minecraft-protocol/generator/src/main/resources/data/
/minecraft/minecraft-protocol/generator/src/main/resources/mappings/
/minecraft/minecraft-protocol/src/main/java/net/daporkchop/lib/minecraft/protocol/mc/*
/minecraft/minecraft-worldscanner/run/testworld/region/r.0.1.mca
/minecraft/minecraft-worldscanner/run/testworld/region/r.0.-1.mca
/minecraft/minecraft-worldscanner/run/testworld/region/r.1.1.mca
/minecraft/minecraft-worldscanner/run/testworld/region/r.1.0.mca
/minecraft/minecraft-worldscanner/run/testworld/region/r.1.-1.mca
/minecraft/minecraft-worldscanner/run/testworld/region/r.-1.1.mca
/minecraft/minecraft-worldscanner/run/testworld/region/r.-1.0.mca
/minecraft/minecraft-worldscanner/run/testworld/region/r.-1.-1.mca
/minecraft/minecraft-worldscanner/run/out/
/primitive/src/
