$$$settings$$$
{
    "params": [
        {
            "genericName": "T"
        },
        {
            "genericName": "U"
        },
        {
            "genericName": "R"
        }
    ]
}
_headers_

/**
 * A function that accepts two parameters (_nameP0_, _nameP1_) and returns _nameP2_.
 *
 * @author DaPorkchop_
 * @see java.util.function.BiFunction
 */
@FunctionalInterface
public interface _P0__P1__P2_Function_G_ {
    _p2_ apply<2!%As_P2_%>(_p0_ t, _p1_ u);
}
