_headers_

public class _P0__P1_LinkedHashMap_gH_ extends _P0__P1_HashMap_gH_ {
    public static class Entry_gH_ extends _P0__P1_HashMap.Node_gH_ {
        public Entry_gH_ before, after;
        public Entry(int hash, _p0_ key, _p1_ value, Node_gH_ next) {
            super(hash, key, value, next);
        }
    }
}