_headers_

public interface _P0__P1_BiPredicate_gH_ {
    boolean test(_p0_ t, _p1_ u);

    default _P0__P1_BiPredicate_gH_ and(@NonNull _P0__P1_BiPredicate_gSuper_ other) {
        return (t, u) -> this.test(t, u) && other.test(t, u);
    }

    default _P0__P1_BiPredicate_gH_ negate() {
        return (t, u) -> !this.test(t, u);
    }

    default _P0__P1_BiPredicate_gH_ or(@NonNull _P0__P1_BiPredicate_gSuper_ other) {
        return (t, u) -> this.test(t, u) || other.test(t, u);
    }
}