    public static _methodgH_ _methodP0__methodP1_Map_methodgH_ synchronize(@NonNull _methodP0__methodP1_Map_methodgH_ map) {
        return new _methodP0__methodP1_LockedMap_methodgH_(map);
    }

    public static _methodgH_ _methodP0__methodP1_Map_methodgH_ synchronize(@NonNull _methodP0__methodP1_Map_methodgH_ map, @NonNull Lock lock) {
        return new _methodP0__methodP1_LockedMap_methodgH_(map, lock);
    }

    public static _methodgH_ _methodP0__methodP1_Map_methodgH_ synchronize(@NonNull _methodP0__methodP1_Map_methodgH_ map, @NonNull Object lock) {
        return new _methodP0__methodP1_SynchronizedMap_methodgH_(map, lock);
    }

