_headers_

public interface _P0_Consumer_gH_ {
    void accept(_p0_ t);

    default _P0_Consumer_gH_ andThen(@NonNull _P0_Consumer_gSuper_ after) {
        return t -> {
            this.accept(t);
            after.accept(t);
        };
    }
}