$$$settings$$$
{
     "genericNames": {
         "P0": "R"
     }
}
_headers_

/**
 * A function that returns _nameP0_.
 *
 * @author DaPorkchop_
 * @see java.util.function.Supplier
 */
@FunctionalInterface
public interface _P0_Supplier_gH_ {
    _p0_ get();
}
