_headers_

public interface _P0_Comparator_gH_ {
    int compare(_p0_ o1, _p0_ o2);

    boolean equals(Object obj);

    default _P0_Comparator_gH_ reversed() {
        return (a, b) -> this.compare(b, a);
    }

    default _P0_Comparator_gH_ thenComparing(@NonNull _P0_Comparator_gSuper_ other) {
        return (_P0_Comparator_gH_ & Serializable) (c1, c2) -> {
            int res = this.compare(c1, c2);
            return (res != 0) ? res : other.compare(c1, c2);
        };
    }
}