_headers_

/**
 * Represents a supplier of results.
 *
 * <p>There is no requirement that a new or distinct result be returned each
 * time the supplier is invoked.
 *
 * <p>This is a <a href="package-summary.html">functional interface</a>
 * whose functional method is {@link #get()}.
 *
 * @param <A> the type of results supplied by this supplier
 *
 * @since 1.8
 */
public interface _P0_Supplier_gH_ {
    /**
     * Gets a result.
     *
     * @return a result
     */
    _p0_ get();
}