$$$settings$$$
{
     "genericNames": {
         "P0": "T"
     }
}
_headers_

/**
 * A function that accepts a single _nameP0_ and returns _nameP0_.
 *
 * @author DaPorkchop_
 * @see java.util.function.UnaryOperator
 */
@FunctionalInterface
public interface _P0_UnaryOperator_gH_ {
    _p0_ apply(_p0_ t);
}
