$$$settings$$$
{
    "params": [
        {
            "genericName": "T"
        },
        {
            "genericName": "U"
        },
        {
            "genericName": "V"
        }
    ]
}
_headers_

/**
 * A function that accepts three parameters (_nameP0_, _nameP1_, _nameP2_) and returns nothing.
 *
 * @author DaPorkchop_
 */
@FunctionalInterface
public interface _P0__P1__P2_Consumer_gH_ {
    void accept(_p0_ t, _p1_ u, _p2_ v);
}
